@font-face {
    font-family: 'Pixelfont';
    src: url('resources/pixelfont.ttf') format('truetype'); /* Adjust path if needed */
}

body {
    font-family: 'Pixelfont', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

