@font-face {
    font-family: 'Pixelfont';
    src: url('resources/pixelfont.ttf') format('truetype'); 
}

canvas {
    display: block;
    width: 1024px;
    height: 576px;
    image-rendering: pixelated;
    border: 5px solid black;
}

body {
    font-family: 'Pixelfont', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

